.analysis {
  display: flex;
  width: 100%;
  margin-top: 70px;
}
#analysis-container {
  flex: 1;  
  // height:100%;
  width: 200px;
}
#analysis-bar{

  flex: 1;
  height: 500px;

}
body{
  // background-color: #100c2a;
}